body {
    padding: 0;
    background-color: #282c34;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2 {
    margin-left: 30px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}
