main{
    display: block;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;

    gap: 20px;

    margin-top: 1vh;
    margin-bottom: 1vh;
}

.gallery img{
    height: 200px;
    align-self: flex-start;
}

.walnut {
    color: rgb(179, 85, 30);
}

.padauk{
    color: rgb(173, 3, 3);
}