main{
    display: block;
}

.projects ul {
    display: flex;
    gap: 20px;
    max-width: 80vw;
    flex-wrap: wrap;
}

.projects ul li {
    display: block;
    text-decoration: none;
}

.projects ul li a:hover{
    color: rgb(0, 153, 255);
}

.projects ul li a img{
    width: 300px;
    height: 175px;
}
.projects ul li a:hover img{
    box-shadow: 0px 3px 9px rgb(20,20,20);
}

.projects ul li a:hover .date{
    color: rgb(186, 222, 224);
}

.projects ul li a {
    text-decoration: none;
    color: whitesmoke;
}


.date {
    color: rgb(224, 213, 213);
}
