
#sheet{
    border: 1px solid;

}

#bassClef{
    display: none;
}
#trebleClef{
    display: none;
}

.timeSignature{
    width: 35px;
}



#settings{
    margin: 0;

    background: rgb(28,27,43);
    background: linear-gradient(0deg, rgba(40,40,40,1), rgba(80,80,80,1) 100%, rgba(40,40,40,1));

    padding: 2px;
    width: 1200px;
    height: 50px;

    display: inline-block;
}

#settings h4{
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
    left: 1%;
    font-size: 42px;

    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-indent: 10px;

    display: inline;

}
#settings input[type=number]{
    margin: 0;
    background-color: #EEEEEE;
    border: 0px;
    border-radius: 0px;

    font-size: 40px;
    width: 60px;

    display: inline-block;
}
#settings input[type=file]{
    visibility: hidden;
}
#settings label{
    background: rgb(28,27,43);
    background: linear-gradient(1deg, rgba(40,40,40,1), rgba(80,80,80,1) 100%, rgba(40,40,40,1));
}
#settings label:hover{
    background: rgb(28,27,43);
    background: linear-gradient(0deg, rgba(60,60,60,1), rgba(80,80,80,1) 100%);
}
