
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

ul.dd{
    padding-left: .5%;
    padding-top: 1%;

    color:white;
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 20%;

    -webkit-touch-callout: ;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}
ul.dd:active{
    cursor: auto;
}

ul.dd div.title:hover{
    background-color: rgb(30, 30, 30);

}

ul.dd li{
    display: none;
    padding: 0;
    list-style-type: none;
}
ul.dd li.dropAnim{
    display: inline-block;
    background-color: black;
    animation-name: dropDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
}

ul.dd li:hover{
    list-style-type: none;
    background-color: rgb(30, 30, 30);

}


@keyframes dropDown {
    from {
        left: 2%;
    }
    to {
        left: 7%;
    }
}
