
.controls {
  color: white;

  width: 940px;
  height: 60px;
  padding: 2px;
  background-color: #b3b3b3;
  margin: 0;
}
.controls button {
  color: white;

  font-family: 'Noto Serif', serif;
  margin: 0px;
  height: 100%;
  border: 0;
  background-color: #b3b3b3;

}

.controls button:hover {
  background-color: #cccccc;
}

.controls select{
  padding: 0;
  border: 0;
  height: 100%;
  border-radius: 4px;
}
